<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APIDashboard</title>
    <link rel="icon" type="image/png" href="~/img/icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/apidashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <header class="menu-header-fixed">
        <div class="container">
            <nav class="row navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
                <div class="navbar-brand" id="HamMobile">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="col-xs-12 col-md-5 col-lg-4 col-xl-2 navbar-brand contents">
                    <a asp-controller="Production" asp-action="Production">
                        <img src="~/img/OCTOPIA_Logo.png" id="imgCDS" title="Cdiscount">
                    </a>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-5 col-xl-6 navbar-brand contents" id="mainNav">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="nav-item-p">
                            <a class="nav-link" id="nav-link-p" asp-area="" asp-controller="Production" asp-action="Production">Production</a>
                        </li>
                        <li class="nav-item" id="nav-item-pp">
                            <a class="nav-link" id="nav-link-pp" asp-area="" asp-controller="PreProduction" asp-action="PreProduction">PreProduction</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 col-xl-2 navbar-brand contents" id="icons">
                    <ul class="navbar-nav flex-grow-1 contents">
                        <li class="nav-item" id="nav-item-cal">
                            <a class="calendarapi" id="calendarapi" href="https://calendly.com/cdiscount_api_support/30min/" target="blank_"><i class="far fa-calendar-alt" title="Book a Phone call"></i></a>
                        </li>
                        <li class="nav-item" id="nav-item-site">
                            <a class="calendarapi" href="https://portal-marketplaceapi.cdiscount.com/" target="blank_"><i class="fa fa-globe" title="Cdiscount Marketplace API"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
			<p class="copyright-text">&copy; @DateTime.Now.Year - API Dashboard</p>
        </div>
    </footer>
    <script>
        $(document).ready(function() {
            $('#HamMobile').click(function() {
                $('#mainNav').stop(true, true).slideToggle()
            })
        })
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
	$(window).scroll(function() {
		var sticky = $('.menu-header-fixed'),
		 scroll = $(window).scrollTop();
		if (scroll >= 1) {
            sticky.addClass('sticky');
            sticky.addClass('shadow');
        }
		else {
            sticky.removeClass('sticky');
            sticky.removeClass('shadow');
        }
	});
    </script>
</body>
</html>