<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APIDashboard</title>
    <link rel="icon" type="image/png" href="~/img/icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <header>
        <div class="container">
            <nav class="row navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
                <div class="col-xs-5 col-md-4 col-lg-3 col-xl-3 navbar-brand">
                    <img src="~/img/Logo.png" alt="Cdiscount">
                </div>
                <div class="col-xs-12 col-md-7 col-lg-6 col-xl-6 navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link-r" asp-area="" asp-controller="Production" asp-action="Production">Production</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link-l" asp-area="" asp-controller="PreProduction" asp-action="PreProduction">PreProduction</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
			<p class="copyright-text">&copy; @DateTime.Now.Year - APIDashboard</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
