<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APIDashboard</title>
    <link rel="icon" type="image/png" href="~/img/favicon_octopia.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/apidashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
			<p class="copyright-text">&copy; @DateTime.Now.Year - API Dashboard</p>
        </div>
    </footer>
    <script>
        $(document).ready(function() {
            $('#HamMobile').click(function() {
                $('#mainNav').stop(true, true).slideToggle()
            })
        })
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
	$(window).scroll(function() {
		var sticky = $('.menu-header-fixed'),
		 scroll = $(window).scrollTop();
		if (scroll >= 1) {
            sticky.addClass('sticky');
            sticky.addClass('shadow');
        }
		else {
            sticky.removeClass('sticky');
            sticky.removeClass('shadow');
        }
	});
    </script>
</body>
</html>