@model APIDashboard.Models.DashBoardProd
@{
    ViewData["Title"] = "Production";
}

<environment include="Development">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/apidashboard.css" />
</environment>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<partial name="_Header/_HeaderAPISOAP" />

<div class="container-fluid">
	<partial name="_ALLAPI/_ImportantInformationsCanvas" />
	<partial name="_ALLAPI/_APIIssues" />
	<partial name="_APISOAP/_StatusByMethod" />
</div>
<button onclick="topFunction()" id="myBtn" title="Back to top"><i class="fas fa-arrow-up"></i></button>
<script type="text/javascript" src="~/js/site.js"></script>