<header class="menu-header-fixed" id="test">
    <div class="container">
        <nav class="row navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3" id="nav_border_radius">
            <div class="navbar-brand" id="HamMobile">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="col-xs-12 col-md-5 col-lg-4 col-xl-3 navbar-brand contents">
                <a asp-controller="Home" asp-action="_Home">
                    <img src="~/img/OCTOPIA_Logo.png" id="imgCDS" title="Octopia">
                </a>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-5 col-xl-5 navbar-brand contents" id="mainNav">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item" id="nav-item-p" itemtype="https://www.schema.org/SiteNavigationElement">
                        <a class="nav-link" id="nav-link-p" asp-area="" asp-controller="APISOAP" asp-action="Production">Production</a>
                    </li>
                    <li class="nav-item" id="nav-item-pp">
                        <a class="nav-link" id="nav-link-pp" asp-area="" asp-controller="APISOAP" asp-action="PreProduction">PreProduction</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 col-xl-2 navbar-brand contents" id="icons">
                <ul class="navbar-nav flex-grow-1 contents">
                    <li class="nav-item" id="nav-item-site">
                        <a class="calendarapi" href="https://developer.octopia-io.net/" target="blank_"><i class="fa fa-globe" title="Octopia API Portal"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>