#imgCDS{
  display: block;
}
#imgCDSMobile{
  display: none;
}
#menuToggle{
  display: none;
}
header.menu-header-fixed {
  position: sticky;
}
.sticky {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}
#nav-item-p{
  padding-right: 100px;
  padding-left: 100px;
}
#nav-item-pp{
  padding-right: 40px;
}
a.nav-link{
  font-size:16px!important;
  font-weight: bold;
  color:var(--dark-blue-color)!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-decoration: none;
}
#icons{
  padding-left: 180px;
}
#nav-item-cal{
  padding-right: 40px;
}
.calendarapi{
  font-size:24px!important;
  text-decoration:none;
  color:#e13a13;
}
.calendarapi:hover{
  color:black;
}
.text-issue {
  font-family: 'Montserrat-Light', sans-serif;
  color:black;
}
.content-canvas {
  border-radius: 0.45rem;
  background-color: #ffffff;
}
.bg-success {
  margin: 10px 10px;
}
a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #169b6b !important;
}
.bg-text {
  margin: 10px 10px;
}
.bg-text p {
  color: #000000;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.45rem;
}
.p, .card-body {
  color: #a94442;
}
.card-body-methods-p-font {
  font-size:16px!important;
  font-family: 'Montserrat-Light', sans-serif;
}
.card-body-methods-p {
  margin-top: 30px;
  font-size:16px!important;
  font-family: 'Montserrat-Light', sans-serif;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-body-methods {
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 0.45rem;
}
tr {
  height: 50px;
}

.badge {
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-success {
  color: #fff;
  float: right;
}
a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #169b6b;
}
a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
}
.buttonExclamationPopup{
  border:0;
  padding:0;
  background:#f8f9fc;
}
.buttonExclamationPopup:focus{
  outline: 0;
}
.popupII {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.popup-content-II {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0px 1px 11px 9px rgba(0,0,0,0.33);
  -webkit-box-shadow: 0px 1px 11px 9px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 1px 11px 9px rgba(0,0,0,0.33);
  border-radius:  0.45rem;
}
.popup-title-II {
  border:0;
  padding: 0 0 20px 0;
}
  .popup-title-h2-II {
    color: var(--dark-blue-color)!important;
    font-family: 'Montserrat-Light', sans-serif;
    font-size:20px;
    font-weight:bold;
  }
  .content-h2-II {
    color:var(--dark-blue-color)!important;
    font-size:15px!important;
    font-family: 'Montserrat-Light', sans-serif;
    margin:0;
    padding:0;
    text-align:justify;
  }
  .content-ul-li{
    list-style: none;
  }
  .content-ul-li-II {
    color:var(--dark-blue-color)!important;
    font-size:15px!important;
    font-family: 'Montserrat-Light', sans-serif;
    margin:0;
    padding:0;
    text-align:justify;
  }
  .BtnCenterII {
    text-align: center;
  }
  .colorBackGrdBtnII {
    margin-top: 16px;
    background-color:#293847;
    border:#293847;
    color: #ffffff;
  }
  .colorBackGrdBtnII:hover{
    background-color: #aaaaaa;
    color: #ffffff;
  }
  .closeII {
    color: #293847;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: -1rem
  }
  .closeII:hover,
  .closeII:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
  }
  .green{
    color: #1cc88a !important;
  }
  .orange{
    color: orange !important;
  }
  .red{
    color: #e74a3b !important;
  }
  .popupSBM {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .popup-content-SBM {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0px 1px 11px 9px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 1px 11px 9px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 1px 11px 9px rgba(0,0,0,0.33);
    border-radius:  0.45rem;
  }
  .popup-title-SBM {
    border:0;
    padding: 0 0 20px 0;
  }
  .popup-title-h2-SBM {
    color: var(--dark-blue-color)!important;
    font-family: 'Montserrat-Light', sans-serif;
    font-size:20px;
    font-weight:bold;
  }
  .content-h2-SBM {
    color:var(--dark-blue-color)!important;
    font-size:15px!important;
    font-family: 'Montserrat-Light', sans-serif;
    margin:0;
    padding:0;
    text-align:justify;
  }
  .content-ul-li-SBM {
    color:var(--dark-blue-color)!important;
    font-size:15px!important;
    font-family: 'Montserrat-Light', sans-serif;
    margin:0;
    padding:0;
    text-align:justify;
  }
  .BtnCenterSBM {
    text-align: center;
  }
  .colorBackGrdBtnSBM {
    background-color:#293847;
    border:#293847;
    color: #ffffff;
  }
  .colorBackGrdBtnSBM:hover{
    background-color: #aaaaaa;
    color: #ffffff;
  }
  .closeSBM {
    color: #293847;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: -1rem;
  }
  .closeSBM:hover,
  .closeSBM:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
  }
.issue-font {
  font-size:16px!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-align:center;
}
.issue-font-w {
  font-size:16px!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-align:center;
  width:159px;
}
.issue-font-content{
  font-size:14px!important;
  font-family: 'Montserrat-Light', sans-serif;
}
.issue-font-content-j{
  font-size:14px!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-align: justify;
}
.card-body-methods-p1{
  margin-top: 30px;
  font-family: 'Montserrat-Light', sans-serif;
}
.card-body-methods-p2{
  margin-top: 30px;
  font-family: 'Montserrat-Light', sans-serif;
}
.card-body-methods-p3{
  margin-top: 30px;
  font-family: 'Montserrat-Light', sans-serif;
}
a.card-header-link-title {
  color:var(--dark-blue-color)!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-decoration:none;
  font-size:32px;
}
.calM1M2Table {
  margin-bottom:0;
}
.deleteHeightTR {
  height: auto;
}
.calM1 {
  position:absolute;
}
.calM2 {
  left:537px;
}
#myBtn {
  width: 40px;
  height: 40px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 5px solid white;
  outline: none;
  font-size: 15px !important;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 10px 20px #00000029;
  background: #e13a13;
}
#myBtn:hover {
  background-color: #293847;
  transition:all ease-in 0.2s;
}

@media (max-width:1440px){
  #imgCDSMobile{
    display: none;
  }
  .popup-content-II {
    width: 60%;
  }  
  .popup-content-SBM {
    width: 60%;
  }
}

@media (max-width:1024px){
  #imgCDSMobile{
    display: none;
  }
  #nav-item-p{
    padding-right: 50px;
    padding-left: 0;
  }
  #nav-item-pp{
    padding-right: 40px;
  }
  #icons{
    padding-left: 50px;
  }
  #nav-item-cal{
    padding-right: 30px;
  }
  .popup-content-II {
    width: 60%;
  }
  .popup-content-SBM {
      width: 60%;
  }
  .calM2{
    left: 450px;
  }
  #myBtn {
    width: 40px;
    height: 40px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: 5px solid white;
    outline: none;
    font-size: 15px !important;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 10px 20px #00000029;
    background: #e13a13;
  }
  #myBtn:hover {
    background-color: #293847;
    transition:all ease-in 0.2s;
  }
}

@media (max-width:768px) {
  .navbar-expand-sm {
    justify-content: space-around;
  }
  #nav-item-hamburger {
    padding-left: 10px;
  }
  #imgCDS{
    display: block;
  }
  #nav-item-p{
    margin-right: 0;
    padding-right: 0;
  }
  #nav-item-pp{
    padding-right: 0;
  }
  #text-issue-II {
    font-size: 20px!important;
  }
  #nav-item-cal {
    padding-left: 25px;
  }
  #icons{
    margin-right: 0;
  } 
  .text-issue {
    font-size: 20px;
  }
  #HamMobile {
    width: 30px;
    cursor: pointer;
    margin-right: 0;
    margin-left: 20px;
  }
  #HamMobile span{
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 6px;
    background:#e13a13;
    position: relative;
  }
  #HamMobile span + span {
    margin-top: 4px;
  }
  #HamMobile span + span {
    margin-top: 4px;
  }
  #imgCDSMobile {
    display: none;
  }
  header.menu-header-fixed {
    z-index: 999999;
  }
  a#nav-link-pp.nav-link{
    padding-bottom: 15px !important;
    border-bottom: 1px solid #dee2e6;
  }
  a#nav-link-p.nav-link{
    padding-bottom: 15px !important;
    border-bottom: 1px solid #dee2e6;
  }
  #mainNav{
    position: fixed;
    width: 100%;
    top: 70px;
    display: none;
    right: 0;
    left: 0;
    background-color: white;
    color: #293847!important;
    box-shadow: 0px 5px 10px -5px;
    border-top: 1px solid #dee2e6;
    padding-bottom: 10px;
  }
  #mainNav ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 40px;
    display: flex;
    flex-flow: column nowrap;
    float: left;
    width: 89%;
  }
  #menuToggle{
    background-color: transparent!important;
    border: none;
    background-size: cover;
    width: 40px;
    height: 40px;;
    align-self: start;
    display: block;
  }
  #menuToggle.hamburger{
    background-image: url('../img/hamburger.png');
  }
  #menuToggle.hamburger:hover{
    outline: none;
  }
  .popup-content-II {
    width: 60%;
  }
  .card-header-link-title{
      font-size: 20px!important;
  }
  .calM1{
    position: relative;
  }
  .calM2{
    left: 0;
  }
}

@media (max-width:425px) {
  header.menu-header-fixed {
    z-index: 999999;
    background-color:#293847;
  }
  #imgCDS{
      display: block;
      height: 30px;
  }
  .contents{
      display: contents;
  }
  #nav-item-cal{
      padding-left: 0;
      padding-right: 0;
  }
  #nav-item-site {
      padding-right: 20px;
  }
  #HamMobile {
    width: 30px;
    cursor: pointer;
    margin-right: 0;
    margin-left: 20px;
  }
  #HamMobile span{
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 6px;
    background:#e13a13;
    position: relative;
  }
  #HamMobile span + span {
    margin-top: 4px;
  }
  #HamMobile span + span {
    margin-top: 4px;
  }
  #mainNav{
      position: absolute;
      width: 100%;
      top: 50px;
      padding-bottom: 0;
      display: none;
      right: 0;
      left: 0;
      padding-bottom: 10px;
    }
    #mainNav ul{
      list-style: none;
      margin-left: 20px;
      float: left;
    }
    #menuToggle{
      background-color: black;
      border: none;
      background-size: cover;
      width: 40px;
      height: 40px;;
      align-self: start;  
      margin-left: auto;
      display: block;
    }
    #menuToggle.hamburger{
      background-image: url('../img/hamburger.png');
    }
    #menuToggle.hamburger:hover{
      outline: none;
    }
    a#nav-link-pp.nav-link{
      padding-left: 0;
      padding-bottom: 15px !important;
    }
    a#nav-link-p.nav-link{
      padding: 0;
      padding-bottom: 15px !important;
    }
    #issues tr{
      height: 0;
    }
    #stateIssue{
      font-size:10px!important;
    }
    .issue-font-content{
      font-size:10px!important;
      font-family: 'Montserrat-Light', sans-serif;
    }
    .issue-font-content-j{
      font-size:9px!important;
      font-family: 'Montserrat-Light', sans-serif;
    }
    .card-body-methods-p{
      font-size:15px!important;
      font-family: 'Montserrat-Light', sans-serif;        
    }
    .card-body-methods-p-font{
      font-size:15px!important;
      font-family: 'Montserrat-Light', sans-serif;        
    }
}

@media (max-width:375px){
  header.menu-header-fixed {
    z-index: 999999;
    background-color:#293847;
  }
  p#card-body {
    font-size: 12px!important;
  }
  #issues tr{
    height: 0;
  }
  #mainNav{
    width: 100%;
  }
  #mainNav ul{
    list-style: none;
    margin-left: 20px;
    float: left;
  }
  a#nav-link-pp.nav-link{
    padding-left: 0;
    padding-bottom: 15px !important;
  }
  a#nav-link-p.nav-link{
    padding: 0;
    padding-bottom: 15px !important;
  }
  #stateIssue{
    font-size:8px!important;
  }
  .badge {
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .badge-success {
    color: #fff;
    float: right;
  }
  a.badge-success:hover, a.badge-success:focus {
    color: #fff;
    background-color: #169b6b;
  }
  a.badge-success:focus, a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
  }
  .issue-font{
    font-size:10px!important;
    font-family: 'Montserrat-Light', sans-serif;
  }
  .issue-font-content{
    font-size:8px!important;
    font-family: 'Montserrat-Light', sans-serif;
  }
  .issue-font-content-j{
    font-size:8px!important;
    font-family: 'Montserrat-Light', sans-serif;
  }
  .card-body-methods-p{
    font-size:13px!important;
    font-family: 'Montserrat-Light', sans-serif;        
  }
  .card-body-methods-p1{
    font-size:12px!important;
    font-family: 'Montserrat-Light', sans-serif;        
  }
  .card-body-methods-p2{
    font-size:11px!important;
    font-family: 'Montserrat-Light', sans-serif;        
  }
  .card-body-methods-p3{
    font-size:12px!important;
    font-family: 'Montserrat-Light', sans-serif;
    padding-top: 20px;  
    margin-top: 0;
  }
  .card-body-methods-p-font{
    font-size:13px!important;
    font-family: 'Montserrat-Light', sans-serif;        
  }
}

@media (max-width:320px) {
  header.menu-header-fixed {
    z-index: 999999;
    background-color:#293847;
  }
  #nav-item-cal {
    padding-right: 10px;
  }
  #issues tr {
    height: 0;
  }
  .deleteHeightTR {
    font-size: 8px;
  }
  #mainNav{
    width: 100%;
  }
  #mainNav ul{
    margin-left: 16px;
  }
  #stateIssue{
    font-size:7px!important;
  }
  .badge {
    display: inline-block;
    padding: 10px 10px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .badge-success {
    color: #fff;
    float: right;
  }
  a.badge-success:hover, a.badge-success:focus {
    color: #fff;
    background-color: #169b6b;
  }
  a.badge-success:focus, a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
  }
  .issue-font{
    font-size:10px!important;
    font-family: 'Montserrat-Light', sans-serif;
  }
  .issue-font-content{
    font-size:8px!important;
    font-family: 'Montserrat-Light', sans-serif;
  }
  .issue-font-content-j{
    font-size:5px!important;
    font-family: 'Montserrat-Light', sans-serif;
  }
  .card-body-methods-p{
    font-size:10px!important;
    font-family: 'Montserrat-Light', sans-serif;        
  }
  .card-body-methods-p1{
    font-size:9px!important;
    font-family: 'Montserrat-Light', sans-serif;        
  }
  .card-body-methods-p2{
    font-size:9px!important;
    font-family: 'Montserrat-Light', sans-serif;        
  }
  .card-body-methods-p3{
    font-size:10px!important;
    font-family: 'Montserrat-Light', sans-serif;
    padding-top: 20px;  
  }
  .card-body-methods-p-font{
    font-size:10px!important;
    font-family: 'Montserrat-Light', sans-serif;        
  }
}

.fa-arrow-up{
  display: block;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.copyright-text{
  font-size: 12px!important;
  font-weight: 300!important;
  color: var(--grey-color)!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-align: center;
}
.fa-arrow-up{
  display: block;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.copyright-text{
  font-size: 12px!important;
  font-weight: 300!important;
  color: var(--grey-color)!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-align: center;
}