@font-face {
  font-family: 'Montserrat-Light';
  src: url('~/font/Montserrat-Light.etf');
  src: url('~/font/Montserrat-Light.etf?#iefix') format('embedded-opentype'),
         url('~/font/Montserrat-Light.svg#Montserrat-Light') format('svg');
}

header.menu-header-fixed {
  position: sticky;
}
.sticky {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
#navbar-nav-menu-header{
  padding-left: 9rem;
}
a.nav-link-p{
  font-size:16px!important;
  font-weight: bold;
  color:var(--dark-blue-color)!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-decoration: none;
}
a.nav-link-pp{
  font-size:16px!important;
  font-weight: bold;
  color:var(--dark-blue-color)!important;
  font-family: 'Montserrat-Light', sans-serif;
  padding-left: 7rem;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

body {
  margin-bottom: 60px;
}

/* CSS ajouté */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

#qrCode {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .carousel-caption {
      display: none;
  }
}

p {
  color: #000000;
}

.text-issue {
  font-family: 'Montserrat-Light', sans-serif;
  color:black;
}

.content-canvas {
  border-radius: 0.45rem;
  background-color: #ffffff;
}

.bg-success {
  margin: 10px 10px;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #169b6b !important;
}

.bg-text {
  margin: 10px 10px;
}

.bg-text p {
  color: #000000;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.45rem;
}

.p, .card-body {
  color: #a94442;
}
.card-body-methods-p-font {
  font-size:16px!important;
  font-family: 'Montserrat-Light', sans-serif;
}
.card-body-methods-p {
  margin-top: 30px;
  font-size:16px!important;
  font-family: 'Montserrat-Light', sans-serif;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-body-methods {
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 0.45rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

  .card-header:first-child {
      border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
  }

  .card-header + .list-group .list-group-item:first-child {
      border-top: 0;
  }

  .buttonExclamationPopup{
    border:0;
    padding:0;
    background:#f8f9fc;
  }
  .buttonExclamationPopup:focus{
    outline: 0;
  }
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 40%;
  }
  .popup-title{
    border:0;
    padding: 0 0 20px 0;
  }
  .popup-title-h2{
    color: var(--dark-blue-color)!important;
    font-family: 'Montserrat-Light', sans-serif;
    font-size:20px;
    font-weight:bold;
  }
  .content-h2{
    color:var(--dark-blue-color)!important;
    font-size:15px!important;
    font-family: 'Montserrat-Light', sans-serif;
    margin:0;
    padding:0;
    text-align:justify;
  }
  .content-ul-li{
    color:var(--dark-blue-color)!important;
    font-size:15px!important;
    font-family: 'Montserrat-Light', sans-serif;
    margin:0;
    padding:0;
    text-align:justify;
  }
  .BtnCenter{
    text-align: center;
  }
  .colorBackGrdBtn{
    background-color:#aaaaaa;
    border:#293847;
    color: #ffffff;
  }
  .colorBackGrdBtn:hover{
    background-color: #293847;
    color: #ffffff;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  .fa-exclamation-circle {
   font-size:20px;
   color:#e13a13;
  }
  a.card-header-link-title {
    color:var(--dark-blue-color)!important;
    font-family: 'Montserrat-Light', sans-serif;
    text-decoration:none;
    font-size:32px;
  }
.issue-font {
  font-size:16px!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-align:center;
}
.issue-font-w {
  font-size:16px!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-align:center;
  width:159px;
}
.issue-font-content{
  font-size:14px!important;
  font-family: 'Montserrat-Light', sans-serif;
}
.issue-font-content-j{
  font-size:14px!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-align: justify;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f8f9fc;
  border-top: 1px solid #e3e6f0;
}

  .card-footer:last-child {
      border-radius: 0 0 calc(0.35rem - 1px) calc(0.35rem - 1px);
  }

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.35rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.card-deck {
  display: flex;
  flex-direction: column;
}

  .card-deck .card {
      margin-bottom: 0.75rem;
  }

@media (min-width: 576px) {
  .card-deck {
      flex-flow: row wrap;
      margin-right: -0.75rem;
      margin-left: -0.75rem;
  }

      .card-deck .card {
          display: flex;
          flex: 1 0 0%;
          flex-direction: column;
          margin-right: 0.75rem;
          margin-bottom: 0;
          margin-left: 0.75rem;
      }
}

.card-group {
  display: flex;
  flex-direction: column;
}

  .card-group > .card {
      margin-bottom: 0.75rem;
  }

@media (min-width: 576px) {
  .card-group {
      flex-flow: row wrap;
  }

      .card-group > .card {
          flex: 1 0 0%;
          margin-bottom: 0;
      }

          .card-group > .card + .card {
              margin-left: 0;
              border-left: 0;
          }

          .card-group > .card:not(:last-child) {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
          }

              .card-group > .card:not(:last-child) .card-img-top,
              .card-group > .card:not(:last-child) .card-header {
                  border-top-right-radius: 0;
              }

              .card-group > .card:not(:last-child) .card-img-bottom,
              .card-group > .card:not(:last-child) .card-footer {
                  border-bottom-right-radius: 0;
              }

          .card-group > .card:not(:first-child) {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
          }

              .card-group > .card:not(:first-child) .card-img-top,
              .card-group > .card:not(:first-child) .card-header {
                  border-top-left-radius: 0;
              }

              .card-group > .card:not(:first-child) .card-img-bottom,
              .card-group > .card:not(:first-child) .card-footer {
                  border-bottom-left-radius: 0;
              }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
      -moz-column-count: 3;
      column-count: 3;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
  }

      .card-columns .card {
          display: inline-block;
          width: 100%;
      }
}

.accordion > .card {
  overflow: hidden;
}

  .accordion > .card:not(:first-of-type) .card-header:first-child {
      border-radius: 0;
  }

  .accordion > .card:not(:first-of-type):not(:last-of-type) {
      border-bottom: 0;
      border-radius: 0;
  }

  .accordion > .card:first-of-type {
      border-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }

  .accordion > .card:last-of-type {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }

  .accordion > .card .card-header {
      margin-bottom: -1px;
  }

tr {
  height: 50px;
}

.badge {
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-success {
  color: #fff;
  float: right;
}
a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #169b6b;
}
a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
}

@media (min-width:1200px) {
  .col-lg-3 {
      width: 30%;
  }
}

.calM1 {
  position:absolute;
}

.calM1M2Table {
  margin-bottom:0;
}

.deleteHeightTR {
  height: auto;
}

.calM2 {
  left:537px;
}

.fa-arrow-up{
  display: block;
}
#myBtn {
  width: 40px;
  height: 40px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 5px solid white;
  outline: none;
  font-size: 15px !important;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 10px 20px #00000029;
  background: #e13a13;
}
#myBtn:hover {
  background-color: #293847;
  transition:all ease-in 0.2s;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.copyright-text{
  font-size: 12px!important;
  font-weight: 300!important;
  color: var(--grey-color)!important;
  font-family: 'Montserrat-Light', sans-serif;
  text-align: center;
}